<div  [ngClass]="{'hidden': invite === null}">
  <h2>Registration</h2>
  <form autocomplete="off" #form="ngForm">
    <div class="item-option">
      <label>Username</label>
      <input type="email" name="username" class="form-control" ngModel required #email="ngModel" email>
      <small [hidden]="email.valid || (email.pristine && !form.submitted)">
        Email is required and format should be <i>john@doe.com</i>.
      </small>
    </div>
    <div class="item-option">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ngModel required #password="ngModel" autofocus password>
      <small [hidden]="password.valid || (password.pristine && !form.submitted)">
        Password is required
      </small>
    </div>
    <div class="item-option">
      <label>Retype password</label>
      <input type="password" name="confirmPassword" class="form-control" ngModel required
             validateEqual="password" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !form.submitted)">
        Password mismatch
      </small>
    </div>
    <button class="btn btn-success save_button" [disabled]="!form.valid || item === null"
            (click)="registration(form, form.valid )">Save
    </button>
  </form>
</div>
<div [ngClass]="{'hidden': invite !== null}">
  <h2>Registration error!</h2>
  <h3>{{error}}</h3>
</div>


