<div class="registration-box">
  <div class="sing-in">
    <h2>SING UP</h2>
  </div>

  <form name="form" (ngSubmit)="registration(f)" #f="ngForm">

    <div class="input-wrapper" [ngClass]="{ 'validation-error': username.invalid && !username.pristine }">
      <input placeholder="Email Address" type="text" class="login-form" name="username" [(ngModel)]="model.username"
             #username="ngModel"
             required email/>
      <div *ngIf="username.invalid && !username.pristine && username.value !== ''" class="error-description">Email is required and format should be <i>john@doe.com</i>.</div>
      <div *ngIf="username.value == '' && !username.pristine" class="error-description">Name is required</div>
    </div>

    <div class="input-wrapper">
      <input placeholder="Password" type="password" class="login-form" name="password" [(ngModel)]="model.password"
             #password="ngModel"
             validateEqual="confirmPassword" required/>
    </div>

    <div class="input-wrapper" [ngClass]="{ 'validation-error': confirmPassword.errors && password.errors }">
      <input placeholder="Retype password" type="password" class="login-form" name="confirmPassword" [(ngModel)]="model.confirmPassword"
             #confirmPassword="ngModel" validateEqual="password" required/>
      <div  *ngIf="confirmPassword.errors && password.errors" class="error-description">
        <span *ngIf="!confirmPassword.errors.validateEqual && !password.errors.validateEqual && !confirmPassword.pristine">Passwords do not match</span></div>
    </div>

    <button [disabled]="f.invalid" type="submit" class="btn btn-primary registration-button"><span [ngClass]="{'hidden': loading}">Sing up</span>
      <span [ngClass]="{'hidden': !loading}">Loading...</span>
    </button>
    <div *ngIf="error" class="login-failed">{{error}}</div>
  </form>
</div>
