<div class="registration-box">
  <div class="sing-in">
    <h2>SING UP</h2>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && registration()" #f="ngForm" [formGroup]="registration_form">
    <div class="container">

      <mat-form-field class="form-field">
        <input matInput placeholder="Email" formControlName="email"  name="username">
        <mat-error *ngIf="email.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div formGroupName="password" class="passwords-group">
        <mat-form-field class="form-field">
          <input matInput placeholder="Password" formControlName="pwd" [type]="hide_pwd ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide_pwd = !hide_pwd">{{hide_pwd ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="registration_form['controls'].password['controls'].pwd.hasError('minlength')">
            Password must <strong>be > 4 simbols</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="form-field">
          <input matInput placeholder="Confirm Password" formControlName="confirmpwd"
                 [type]="hide_confirmpwd ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide_confirmpwd = !hide_confirmpwd">{{hide_confirmpwd ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="registration_form['controls'].password['controls'].confirmpwd.hasError('MatchPassword')">
            Passwords is <strong>not match</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button [disabled]="loading || !f.form.valid">Login</button>
      <mat-error class="registration-error" *ngIf="error">{{error}}</mat-error>
    </div>
  </form>
</div>
