:host {
  display: flex;
  overflow: hidden;
  flex: 5;
}
.message{
  margin-bottom: 0.5em;
}
.result_content {
  overflow: hidden;
  display: flex;
}
.expand-more-button {
  float: right;
}
.panel-height {
  height: 100%;
}
.divider {
  flex: 1;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}
.mat-expansion-panel-header-title {
  flex: 3
}
.result-list {
  overflow: auto;
  flex: 1;
  padding: 0.5em;
}
.hidden {
  display: none;
}
