<h2 cdkFocusInitial>Tokens</h2>
<mat-card-content *ngIf="mode == 'loading'"><mat-spinner color="accent"></mat-spinner></mat-card-content>

<mat-dialog-content *ngIf="mode != 'loading'">
  <form [formGroup]="token_form" (ngSubmit)="create_token()">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Token name">
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!token_form.valid">Create new</button>
  </form>
</mat-dialog-content>
<mat-dialog-content>
  <div *ngFor="let current_token of tokens" class="token-item">
    <div class="token-describe">
        <div class="token_name"><b>{{current_token['name']}}</b></div>
        <pre class="token_value">{{current_token['token']}}</pre>
    </div>
  </div>
</mat-dialog-content>
