<a class="link token-link" (click)="get_tokens(Modal)">Tokens</a>

<modal #Modal>
  <modal-header>
    <h1>Tokens settings</h1>
  </modal-header>
  <modal-content>
    Tokens list:
    <form autocomplete="off" #tokenform="ngForm" (ngSubmit)="create_token(token_name)">
      <input class="status-color" name="token_name" ngModel required #token_name="ngModel" autofocus>
      <button class="btn btn-success" (click)="tokenform.ngSubmit" [disabled]="!token_name.valid">Create</button>
      <small [hidden]="token_name.valid || (token_name.pristine && !tokenform.submitted)">
        token name can't be empty
      </small>
    </form>
    <div *ngFor="let current_token of tokens">
      <div class="token_name">{{current_token['name']}}</div>
      <pre class="token_value">{{current_token['token']}}</pre>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn" (click)="Modal.close()">Close</button>
  </modal-footer>
</modal>
