<div class="history-space" [ngClass]="{'full_centered_data': loading}">
  <div class="toolbar">
    <div class="buttons">
      <div class="toolbar-element" (click)="close_all()" [ngClass]="{'disabled': this.loading}">
        <i class="fa fa-refresh" aria-hidden="true" [ngClass]="{'fa-spin': this.loading}"></i>
      </div>
    </div>
  </div>
  <div class="item-list">
    <ng-container *ngIf="history">
      <div class="history" *ngFor="let result_set of history | SortByUpdatedAt:'desc'">
        <div class="history-item">
          <div class="history-status" [ngStyle]="getStyles(result_set.status)">
            <div class="history-status-name"><b>{{get_status_by_id(result_set.status).name}}</b></div>
          </div>
          <div class="show-all" (click)="get_results(result_set)" *ngIf="result_set.object_status == 'closed'">
           <span>Show_all</span>
          </div>
          <div class="loader_wrapper" *ngIf="result_set.object_status == 'loading'">
            <div class="loader"></div>
          </div>
          <div class="show-all" (click)="get_results(result_set)" *ngIf="result_set.object_status == 'opened'">
            <span>Hide</span>
          </div>
          <div class="plan-name">
            {{result_set.plan.name}}
          </div>
        </div>
        <div class="results-item" *ngIf="result_set.object_status == 'opened'">
          <div class="item bipolar-item big-item" *ngFor="let result of results_data[result_set.id].results | sortByCreatedAt:'desc'">
            <div class="small-block" [ngStyle]="getStyles(result.status_id)">
              <div class="sub-blocks-holder">
                <div class="sub-block"><b>{{get_status_by_id(result.status_id).name}}</b></div>
                <div class="sub-block">{{result.created_at | date:'medium' }}</div>
                <div class="sub-block" *ngFor="let element of result.subdescriber"><b>{{element.title}}</b><br>{{element.value}}</div>
                <!--<div class="sub-block"><a routerLink="/result/{{result.id}}" target="_blank">Details</a></div>-->
              </div>
            </div>
            <div class="big-block">
              <div class="message" *ngFor="let data of result.describer">
                <span><b>{{data["title"]}}:</b></span>
                <app-result-value [value] = 'data["value"]' [type] = 'data["type"]' [note] = 'data["note"]'></app-result-value>
              </div>
            </div>
          </div>


        </div>
      </div>
    </ng-container>
  </div>
</div>

