<div class="history-space" *ngIf="(history$ | async)">
  <div class="item-list">
      <mat-card class="history" *ngFor="let result_set of (history$ | async) | SortByUpdatedAt:'desc'">
        <div class="history-item">
          <div class="history-status"
               [ngStyle]="{'border-right': '2px solid ' + (statuses$ | async)[result_set.status].color}">
            <div class="history-status-name"><b>{{(statuses$ | async)[result_set.status].name}}</b></div>
          </div>
          <div class="plan-name">
            {{result_set.plan.name}}
          </div>
          <button mat-icon-button (click)="get_results(result_set)">
            <mat-icon>{{result_set.object_status === 'closed' ? 'expand_more' : 'expand_less'}}</mat-icon>
          </button>
        </div>
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="result_set.object_status === 'loading'"></mat-progress-bar>
        <div class="loaded-results" *ngIf="resultsData[result_set.id] && result_set.object_status === 'opened'">
          <mat-accordion>
            <mat-expansion-panel class="result-item"
                                 *ngFor="let result of resultsData[result_set.id].results | sortByCreatedAt:'desc'"
                                 [ngStyle]="{'border-color': (statuses$ | async)[result_set.status].color}">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>{{(statuses$ | async)[result_set.status].name}}</b>
                </mat-panel-title>
                <mat-panel-description>
                  {{result.created_at | date:'HH:MM:SS' }} {{result.created_at | date:'MMMM d, y' }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="result_content">
                <div class="small-block" [ngClass]="{'hidden': !result.subdescriber.length}">
                  <div class="sub-blocks-holder">
                    <div class="sub-block" *ngFor="let element of result.subdescriber">
                      <b>{{element.title}}</b><br>{{element.value}}</div>
                  </div>
                  <div class="divider"></div>
                </div>
                <div class="big-block">
                  <div class="message" *ngFor="let data of result.describer">
                    <span><b>{{data["title"]}}:</b></span>
                    <app-result-value [value]='data["value"]' [type]='data["type"]'
                                      [note]='data["note"]'></app-result-value>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card>
  </div>
  <div [hidden]="!loading" class="loader">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
