:host {
  display: flex;
  overflow: hidden;
  flex: 5;
}
 .history-item {
   display: flex;
   flex-direction: row;
 }

.history-status{
  width: 10em;
  display: flex;
}
.plan-name {
  margin: auto;
  flex: 1;
  text-align: center;
}
.history-status-name{
  flex: 1;
  margin: auto;
  text-align: center;
}

.history {
  margin: 0.5em;
}

.loaded-results, .history-item{
  flex: 1;
}
.loaded-results {
  padding-top: 1em;
}

.show-all{
  width: 6em;
  text-align: center;
  margin: auto;
  cursor: pointer;
  user-select: none;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}
.mat-expansion-panel-header-title {
  flex: 3
}
