.run-statistic {
  display: flex;
  padding-bottom: 0.2em;
  font-size: 0.9em;
}
.status-legend-small {
  max-width: 11em;
  overflow: hidden;
  max-height: 1em;
}
.suite-item{
  background-color: #428bca;
}
.create_run_button:hover{
  color: #246e6e;
  cursor: pointer;
}
