<div class="item" [ngClass]="{'activated': isSelected}">
  <div class="bipolar-item">
    <div class="item-name"><a [routerLink]="[object.path, object.id]">{{object.name}}</a></div>
    <div class="create_run_button" (click)="create_run_by_suite(object)"><i class="fa fa-check" aria-hidden="true"></i></div>
  </div>
  <div class="run-statistic">
    <div *ngFor="let status of object.statistic.existed_statuses" class="status-legend-small">
      {{ object.statistic.extended[status] }} {{ get_status_by_id(status).name }},
    </div>
  </div>
</div>
