<mat-card class="login-box" *ngIf="load_form">
  <div class="sing-in">
    <h2>SING IN</h2>
  </div>

  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" [formGroup]="login_form">
    <div class="container">
      <mat-form-field class="form-field" color="accent">
        <input matInput placeholder="Email" formControlName="email" name="username">
        <mat-error *ngIf="email.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" color="accent">
        <input matInput placeholder="Enter your password" name="password" type="password" formControlName="password">
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Password must <strong>be > 4 simbols</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="loading || !f.valid">Login</button>
      <mat-error class="login-error" *ngIf="error">{{error}}</mat-error>
    </div>
  </form>
</mat-card>
