:host {
  justify-content: center;
  display: flex;
  width: 100%;
  min-height: 27em;
}

.form-field {
  padding-bottom: 1em;
}

.container > * {
  width: 100%;
}

.login-box {
  margin-top: 3em;
  padding: 1em;
  width: 32em;
  height: 19em;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.sing-in, .login-error {
  text-align: center;
}

.login-error {
  margin-top: 0.5em;
}
