<div class="login-box" *ngIf="load_form">
  <div class="sing-in">
    <h2>SING IN</h2>
  </div>

  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="input-wrapper" [ngClass]="{ 'validation-error': f.submitted && !username.valid }">
      <input placeholder="Email Address" type="text" class="login-form" name="username" [(ngModel)]="model.username"
             #username="ngModel"
             required/>
      <div *ngIf="f.submitted && !username.valid" class="error-description">Username is required</div>
    </div>
    <div class="input-wrapper" [ngClass]="{ 'validation-error': f.submitted && !password.valid }">
      <input placeholder="Password" type="password" class="login-form" name="password" [(ngModel)]="model.password"
             #password="ngModel"
             required/>
      <div *ngIf="f.submitted && !password.valid" class="error-description">Password is required</div>
    </div>
    <button class="btn btn-primary login-button" [disabled]="loading"><span [ngClass]="{'hidden': loading}">Login</span>
      <span [ngClass]="{'hidden': !loading}">Loading...</span></button>
    <div *ngIf="error" class="login-failed">{{error}}</div>
  </form>
</div>
