<mat-toolbar color="accent" class="header">
  <div *ngIf="authorize">
    <a mat-flat-button color="accent" (click)="Token.open()">Token</a>
    <a mat-flat-button color="accent" (click)="Invite.open()">Invite</a>
    <a mat-flat-button color="accent" (click)="Statuses.open()">Statuses</a>
    <a mat-flat-button color="accent" (click)="About.open()">About</a>
    <a mat-flat-button color="accent" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
<app-status-settings #Statuses></app-status-settings>
<app-about #About></app-about>
<app-invite #Invite></app-invite>
<app-token #Token></app-token>
