/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.mainpage{
  min-width: 800px;
}
.navbar-app{
  background-color: #0f4071;
  border-radius: 0;
  height: 48px;
  text-align: left;
  padding: 4px 24px 4px 24px;
  position:relative;
  min-width: 815px;
}
.palladium-name-block{
  margin-top: 8px;
  display:inline-block;
}
a.palladium-link{
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
}
.logout-block{
  margin-top: 8px;
  display:inline-block;
  float: right;
}
a.logout-link{
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
}
/*hard class edit*/
