<div class="navbar-app">
  <div class="palladium-name-block">
    <a class="link palladium-link" href="/">Palladium</a>
  </div>
  <div *ngIf="authorize" class="logout-block">
    <a class="link logout-link" (click)="status_settings(statusModal)">Statuses</a>
    <a class="link logout-link" (click)="logout()">logout</a>
  </div>
</div>

<modal #statusModal>
  <modal-header>
    <h1>Status settings</h1>
  </modal-header>
  <modal-content>
    Status list:

    <div *ngFor="let status_id of statuses_array; let index = index">
        <div *ngIf="this.statuses">
          <div class="status-color-block border-gray" [ngStyle]="getStylesBackround(status_id)"></div>
          <div class="status-name" *ngIf="this.statuses">{{this.statuses[status_id].name}}</div>
        </div>
    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-success" >Save</button>
  </modal-footer>
</modal>
