<mat-toolbar color="accent">
  <mat-toolbar-row  class="header">
    <button mat-icon-button (click)="product_list_toggle()">
      <mat-icon class="md-light">menu</mat-icon>
    </button>
    <div class="product_name">{{product_name}}</div>
    <span class="spacer"></span>
    <a mat-button (click)="Token.open()" tabindex="0">Token</a>
    <a mat-button (click)="Invite.open()">Invite</a>
    <a mat-button (click)="Statuses.open()">Statuses</a>
    <a mat-button (click)="About.open()">About</a>
    <a mat-button (click)="logout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<app-status-settings #Statuses></app-status-settings>
<app-about #About></app-about>
<app-invite #Invite></app-invite>
<app-token #Token></app-token>
