:host{
  display: flex;
  overflow: hidden;
  flex: 9;
}
.inaccurately_trash {
  color: #8a4343;
  cursor: pointer;
}
.inaccurately_trash:hover {
  color: #cc5151;
}
.long-search{
  background-color: #b2c4c5;
}
