.run-statistic {
  padding-bottom: 0.2em;
  font-size: 0.9em;
}
.status-legend-small {
  max-width: 11em;
  overflow: hidden;
  max-height: 1em;
}
.status-count-under-line, .status-name-under-line, .status-small-under-line {
  display: inline-block;
}
.status-small-under-line {
  margin-right: 0.4em;
}
