<div class="item-name"><a [routerLink]="[object.path, object.id]" [queryParams]=get_query() (click)="select_run()">{{object.name}}</a>
</div>
<div class="run-statistic">
  <div *ngFor="let status of object.statistic.existed_statuses" class="status-legend-small">
    {{ object.statistic.extended[status] }} {{ this.statuses[status]['name'] }},
  </div>
</div>
<div class="item-statistic">
  <div *ngFor="let status of object.statistic.existed_statuses"
       [ngStyle]="{ 'width': (object.statistic.extended[status] / object.statistic.all * 100) + '%', 'background-color': statuses[status]['color']}">
  </div>
</div>


