<a class="link" (click)="get_invite(Modal)">Invite</a>

<modal #Modal>
  <modal-header>
    <h2>Invite</h2>
  </modal-header>
  <modal-content>
    <div *ngIf="invite !== null">
      <pre>{{generate_registration_link()}}</pre>
      <label>Created at</label>
      <p>{{invite.created_at}}</p>
      <label>Expiration data</label>
      <p>{{invite.expiration_data}}</p>
      <button class="btn btn-success create-token-button" (click)="generate_invite()">Update Invite</button>
    </div>
    <div *ngIf="invite === null">
      You have no invite link now.
      <button class="btn btn-success create-token-button" (click)="generate_invite()">Generate Invite</button>
    </div>
  </modal-content>
</modal>
