<div class="case_space">
  <div class="toolbar">
    <div class="filter"></div>
    <div class="buttons">
      <div class="button" (click)="open_settings()" [ngClass]="{'disabled': this.loading}"
           *ngIf="object">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="item-list">
    <div class="item hoverer bipolar-item" routerLinkActive="activated" *ngFor="let this_case of cases"  [ngClass]="{'activated': object && object.id == this_case.id}">
      <div class="result-set-discriber centered-data">
        <div class="item-name">
          <div class="item-name">
            <a title={{this_case.name}} class="result_set_link pointer" (click)="object = this_case">{{this_case.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
