:host{
  display: flex;
  overflow: hidden;
  flex: 9;
}
.toolbar {
  flex-direction: column;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  padding-left: 1px;
  padding-right: 1em;
}
.menu-button {
  margin: auto;
}

.item {
  padding: 0;
  cursor: auto;
  background: #f0f2f300;
}

.item-name {
  padding-top: 4px;
  padding-left: 1em;
}

.case {
  display: flex;
  height: 100%;
}

.divider {
  flex: 1;
}
