<div class="case_space">
  <div class="toolbar">
    <div class="filter"></div>
  </div>
  <div class="item-list">
    <div class="item hoverer bipolar-item" routerLinkActive="active" *ngFor="let case of cases">
      <div class="result-set-discriber centered-data" [sh-context]="menuItems" [sh-data-context]="case">
        <div class="centered-data checkbox-item">
          <input type="checkbox">
        </div>
        <div class="item-name">
          <span>{{case.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<modal #Modal>
  <modal-header>
    <h1>Change case name</h1>
  </modal-header>
  <modal-content>
    <form autocomplete="off" #form="ngForm" (ngSubmit)="edit_case_modal()">
      <input type="text" class="case-name" name="name" ngModel required #name="ngModel" autofocus>
      <small [hidden]="name.valid || (name.pristine && !form.submitted)">
        name can't be empty.
      </small>
    </form>
  </modal-content>
  <modal-footer>
    <button class="btn btn-success" [disabled]="!form.valid" (click)="form.ngSubmit.emit(form)">Save</button>
  </modal-footer>
</modal>
