.product-space{
  display: inline-block;
  float:left;
  width: 20em;
}
.product-block{
  border: solid #a9a7aa 1px;
  display: block;
  max-height: 10em;
  margin: 0.5em;
  padding: 0.5em;
}
.setting-button{
  float: right;
  padding-right: 2px;
  display: none;
  cursor: pointer;
}
div.product-name{
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
input.product-name{
  width: 100%;
  font-size: 18px;
}
.product-delete-button{
 float: left;
}
.to-reduce{
  width: 10em;
}
.active{
  background-color: rgba(134, 255, 14, 0.33);
}
