:host{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  z-index: 3;
  height: inherit;
}
.dndPlaceholder{
  border: 2px solid  #246E6E;
}

.product-space {
  height: 100%;
}

.product-item, .mat-card  {
  cursor: pointer;
  max-height: 6em;
  overflow: hidden;
  margin: 0.2em;
  padding: 0.5em;
}
.product-item {
  background-color: transparent;
}

.product-selected {
  background-color: white;
}

.cdk-drag-preview {
  background-color: white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.product-item:last-child {
  border: none;
}

.item-list.cdk-drop-list-dragging .product-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-drawer-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 500px;
}

.toolbar {
  background-color: #00695c;
  flex-direction: row;
  justify-content: space-between;
  min-height: 0;
}

.mat-drawer-content {
 position: relative;
 z-index: 1;
 display: flex;
 height: 100%;
 overflow: hidden;
}
