:host{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 3;
  height: inherit;
}
.sidebar-container {
  height: inherit;
}
.dndPlaceholder{
  border: 2px solid  #246E6E;
}

.product-space {
  height: 100%;
}

.product-item {
  cursor: pointer;
  margin: 0 0.5em;
  padding: 0.5em;
  display: flex;
  white-space: nowrap;
}

.product-selected {
  color: #38838f;
}

.product-toolbar {
  height: 2em;
  min-height: 2em;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .product-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-drawer-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 350px;
}

.toolbar {
  background-color: #00695c;
  flex-direction: row;
  justify-content: space-between;
  min-height: 0;
}

.mat-drawer-content {
 position: relative;
 z-index: 1;
 display: flex;
 height: 100%;
 overflow: hidden;
}

.item-list-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}

.product-item-main {
  padding: 1em;
  margin: 1em;
}

.sidebar-content {
  justify-content: center;
}

.dashboard {
  padding-top: 2em;
  max-width: 1024px;
  margin-left: auto;
  width: 100%;
  margin-right: auto;
}

.product-elemement {
  text-align: center;
  padding: 0 0.5em 0 0;
  margin-bottom: 1em;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header {
  margin-bottom: 1em;
}

.dashboard-list {
  overflow: auto;
  text-align: center;
  height: 100%;
  flex-direction: column;
}

.section-wrapper-attr-name {
    margin: 0;
    margin-top: auto;
    font-size: 10px;
    color: #9d9d9d;
    font-weight: 600;
    user-select: none;
}

.section-wrapper-data {
  margin: 0;
  max-width: 100%;
  margin-bottom: auto;
}

.section-wrapper-link {
  text-decoration: none;
}


.no_plans_message {
  text-align: center;
}

.section-wrapper {
  width: 10em;
  overflow: hidden;
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drag-indicator {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 100%;
}
mat-form-field.mat-form-field {
  font-size: 14px;
}

.product_name_wrapper {
  display: inline-block;
}
