<div class="product-space">
  <div class="toolbar">
    <div class="product-link"><a routerLink="/">Products</a></div>
    <div class="buttons">
      <div class="toolbar-element" (click)="get_products()" [ngClass]="{'disabled': !this.products.length}">
        <i class="fa fa-refresh" aria-hidden="true" [ngClass]="{'fa-spin': !this.products.length}"></i>
      </div>
      <div class="toolbar-element" (click)="open_settings()"
           [ngClass]="{'hidden': setting_is_visible(), 'disabled': !this.products.length}">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </div>
      <div class="toolbar-element" (click)="pin_list()">
        <i class="fa fa-thumb-tack" aria-hidden="true" [ngClass]="{'fa-rotate-270': !pinned}"></i>
      </div>
    </div>
  </div>
  <div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)">
    <mat-card class="product-item mat-elevation-z0" align="center"
              *ngFor="let product of products"
              matRipple matRippleCentered=true [matRippleDisabled]="!pinned"
              cdkDrag [cdkDragDisabled]=pinned
              [ngClass]="{'mat-elevation-z8 product-selected': product_selected(product)}"
              (click)="select_product(product)">
      {{product.name}}
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
