<div class="menu" (clickOutside)="close()">
  <div class="custom-dropdown-button" (click)="visibility = !visibility" [ngClass]="{'dropdown-border': current_status}" [ngStyle]="{'border-right-color': (current_status ? current_status.color : '#848484')}">
    <span>{{current_status ? current_status.name : "Select status"}}</span><i class="fa fa-caret-down" style="float: right;" aria-hidden="true"></i>
  </div>
  <div class="menu-content" *ngIf="visibility">
    <div class="custom-dropdown-menu-element" *ngFor="let status of statuses" [ngStyle]="{'border-right': '0.5em solid '  + status.color}" (click)="select_status(status.id)">
      <span class="custom-dropdown-status-name">{{status.name}}</span>
    </div>
  </div>
</div>
