<h1 mat-dialog-title>Suite settings</h1>
<mat-dialog-content>
  <form autocomplete="off" [formGroup]="object_form">
    <mat-form-field color="accent" style="width: 100%">
      <input (keyup)="check_existing()" matInput formControlName="name" placeholder="Plan name"
             autocomplete="off" [value]="object.name">
      <mat-error *ngIf="name.hasError('is_exist')">
        This name is exist
      </mat-error>
      <mat-error *ngIf="name.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
    <div class="item-option">
      <label> Created at: {{object.created_at}}</label>
    </div>
    <div class="item-option">
      <label> Updated at: {{object.updated_at}}</label>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="delete_object()">Delete</button>
  <button mat-raised-button color="accent" (click)="edit_object()" [disabled]="!object_form.valid">Save
  </button>
</mat-dialog-actions>

