.run-space{
  display: inline-block;
  float:left;
  width: 20em;
  overflow: auto;
  height: 100%;
}
.run-block{
  border: solid #a9a7aa 1px;
  display: block;
  max-height: 10em;
  margin: 0.5em;
  padding: 0.5em;
}
div.run-name{
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.to-reduce{
  width: 10em;
}
.active{
  background-color: rgba(134, 255, 14, 0.33);
}
.run-setting-button{
  opacity: 100;
  float: right;
  padding-right: 2px;
  display: none;
  cursor: pointer;
}
input.run-name{
  width: 100%;
  font-size: 18px;
}
.plan-delete-button{
  float: left;
}
