<div class="run-space">
  <div class="toolbar">
    <div class="filters" [ngClass]="{'hidden': loading}">
      <app-status-filter [status]=status [count]=statistic.extended[status.id] (select)="select_filter(status)"
                         *ngFor="let status of statuses"></app-status-filter>
    </div>
    <div class="buttons">
      <button mat-icon-button (click)="update_click()" [disabled]=this.loading>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <div class="item-list">
    <mat-card class="item mat-elevation-z1"
              *ngFor="let object of runs_and_suites| statisticFilter:filter"
              (click)="clicked($event, object)"
              [ngClass]="{'mat-elevation-z5 selected': selected_object.id == object.id}">
      <div class="item-name">{{object.name}}</div>
      <div class="item-statistic" *ngIf="object.statistic.existed_statuses">
        <div *ngFor="let status of object.statistic.existed_statuses"
             [ngStyle]="{ 'width': (object.statistic.extended[status] / object.statistic.all * 100) + '%', 'background-color': get_status_by_id(status).color}">
        </div>
      </div>
        <mat-card-subtitle *ngIf="object.statistic.existed_statuses" class="item-statistic">
          <div *ngFor="let status of object.statistic.existed_statuses" class="status-small">
            {{object.statistic.extended[status]}} {{ get_status_by_id(status).name || 0}}
          </div>
        </mat-card-subtitle>
      <i class="fa fa-cogs settings" aria-hidden="true"></i>
    </mat-card>
  </div>
</div>
<router-outlet (activate)="onActivate($event)"></router-outlet>
