<div class="run-space">
  <div class="toolbar">
    <div class="filters">
      <app-status-filter-bar [statistic$] = statistic$ (selected) = select_filter($event) [caseCount$]=caseCount$></app-status-filter-bar>
    </div>
    <div class="buttons">
      <button mat-icon-button (click)="update_click()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <ng-container>
    <div class="item-list" *ngIf="(runs$ | async) as runs">
      <cdk-virtual-scroll-viewport [itemSize]="70" style="height: 100%; width: 100%">
        <mat-card class="item mat-elevation-z1"
                  *cdkVirtualFor="let object of runs| uniqueNameObjectFilter: (suites$ | async)| statisticFilter: [filter, untestedSpace]"
                  (click)="clicked($event, object)"
                  [ngClass]="{'suite': object.path === 'suite', 'selected': activeObject?.is_a(object)}">
          <div class="run-name">
            <div class="item-name">{{object.name}}</div>
            <div class="settings-menu">
              <button mat-icon-button [matMenuTriggerFor]="menu" (click)="object_for_settings = object">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
          <div class="item-statistic" *ngIf="{statuses: statuses$ | async, statistic: object.statistic$ | async} as data">
            <div class="status-elements-no-empty">
              <div class="all_statistic-bar" [style.padding-right]="untestedSpace[object.name]?.attitude + '%'">
                <div *ngFor="let point of data.statistic?.points"
                     [ngStyle]="{ 'width': (point.attitude * 100) + '%', 'background-color': data.statuses[point.status].color}">
                </div>
              </div>
            </div>
          </div>
          <mat-card-subtitle class="item-statistic">
            <app-point [point] = point *ngFor="let point of (object.statistic$ | async)?.points" [filter] = filter></app-point>
            <app-point [point] = untestedSpace[object.name]?.point [filter] = filter ></app-point>
          </mat-card-subtitle>
        </mat-card>
      </cdk-virtual-scroll-viewport>
    </div>
  </ng-container>

</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="open_settings()">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>

</mat-menu>
<router-outlet></router-outlet>
