html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1;
}

a:hover {
  color: #5f9ea0;
}

a {
  color: #2e4b4c;
  text-decoration: none !important;
}

* {
  box-sizing: content-box;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

input[type=checkbox] {
  transform: scale(1.2);
  margin: 2px 1px 0;
}

/* === flex update ====*/
.activated {
  background-color: #b2c4c5;
}

.activated:hover {
  background-color: #b2c4c5 !important;
}

.product-space, .plan-space, .run-space, .result-set-space, .result-space, .history-space, .case_space {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.space {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.item-list {
  overflow: auto;
  flex: 1;
}

.plan-space {
  max-width: 70em;
  flex: 2;
}

.run-space {
  flex: 3;
  max-width: 50em;
}

.result-set-space, .case_space {
  max-width: 60em;
  flex: 4;
}

.result-space, .history-space, .one-case_space {
  flex: 5;
}

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: #bfe6e9;
  width: 100%;
  min-height: 5em;
  border: 1px solid #848484;
  border-bottom: 2px solid #848484
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.product-link {
  font-size: 1.7em;
}

.item {
  border: 1px solid #848484;
  padding: 0.5em 0.7em 0.5em 0.5em;
  max-height: 6em;
  max-width: 100%;
}

.hoverer:hover {
  background-color: #e6e6e6;
}

.pointer {
  cursor: pointer;
}

.item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 4em;
  flex: 4;
  align-items: center;
  padding-bottom: 0.2em;
}

.item-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-statistic {
  display: flex;
  border: 1px solid #848484;
  height: 0.3em;
}

.item-wrapper {
  max-height: 6em;
  max-width: 100%;
}

.bipolar-item {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.centered-data, .full_centered_data {
  align-items: center;
}

.statistic-count {
  font-size: 0.7em;
}

.status, .status-small {
  flex-direction: row;
  display: flex;
  overflow: hidden;
}

.status-small{
  margin-right: 0.4em;
}

.status-name {
  overflow: hidden;
  max-width: 5em;
  text-overflow: ellipsis;
}

.status-count {
  max-width: 4em;
  overflow: hidden;
  margin-right: 0.2em;
}

.status-passed {
  border-right: 7px solid #afa;
}

.status-failed {
  border-right: 7px solid #ff989d;
}

.small-block {
  overflow: hidden;
  flex: 1;
}

.sub-blocks-holder {
  margin: 0.5em;
}

.big-block {
  margin: 0.2em;
  overflow: hidden;
  word-wrap: break-word;
  flex: 3;
}

.big-item {
  max-height: 30em;
  padding: 0px;
}

.sub-block {
  padding-bottom: 0.5em;
}

.filter {
  align-items: center;
  flex-wrap: wrap;
  display: inline-flex;
  flex-direction: row;
}

.status-color-passed {
  border-bottom: 7px solid #afa;
}

.status-color-failed {
  border-bottom: 7px solid #ff989d;
}

.status-block {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  cursor: pointer;
  height: 1em;
  margin: 0.3em 0.3em 0.3em 0.3em;
  padding-bottom: 0.5em;
  max-width: 10em;
  overflow: hidden;
}

.status-block:hover {
  background-color: #d9f0f1;
}

.result-set-discriber {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.checkbox-item {
  padding-right: 0.3em;
}

.result-description {
  width: 100%;
  height: 8em;
  box-sizing: border-box;
}

a.link {
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  color: #e2e2e2;
  padding-right: 2em;
}

a.link:hover {
  color: white;
}

.toolbar-element {
  outline: 1px solid #848484;
  text-align: center;
  font-size: 1.5em;
  flex: 1;
  cursor: pointer;
  user-select: none;
}

.toolbar-element:hover {
  background-color: #e6e6e6;
}

.danger:hover {
  background-color: #e66248;
}

.settings_content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 20em;
}

.item-description {
  flex: 3;
}

.item-option, .item-option > input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}

.save_button {
  float: right;
}

.check_button {
  max-width: 2em;
}

.add_result_button {
  max-width: 4em;
}

.disabled, .disabled:hover {
  cursor: not-allowed;
  background-color: #e0eeef !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #5f9ea0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.full_centered_data {
  justify-content: center;
}

.empty_list_message {
  color: #2e4b4c;
  font-size: 1.7em;
  text-align: center;
}
