html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1;
}

a, a:hover{
  color: #412C84;
  text-decoration: none !important;
}
* {
  box-sizing: content-box;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

input[type=checkbox] {
  transform: scale(1.2);
}
/* === flex update ====*/

.product-space, .plan-space, .run-space, .result-set-space, .result-space {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.space {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.item-list {
  flex: 1;
}

.plan-space {
  flex: 2;
}

.run-space {
  flex: 3;
  max-width: 50em;
}

.result-set-space, .case-space {
  flex: 4;
}

.result-space, .history-space {
  flex: 5;
}

.item-list {
  overflow: auto;
}

.toolbar {
  background-color: #eefeff;
  width: 100%;
  min-height: 5em;
  border: 1px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5
}

.item {
  border: 1px solid #c5c5c5;
  padding: 0.5em 0.7em 0.5em 0.5em;
  max-height: 6em;
  max-width: 100%;
}

.item:hover {
  background-color: #e6e6e6;
}

.item-name {
  overflow: hidden;
  max-height: 4em;
  flex: 4;
  align-items: center;
  padding-bottom: 0.2em;
}

.item-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-statistic {
  display: flex;
  border: 1px solid #c5c5c5;
  height: 0.3em;
}

.bipolar-item {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.centered-data {
  align-items: center;
}

.statistic-count {
  font-size: 0.7em;
}

.status-name {
  flex-direction: row-reverse;
  display: flex;
  flex: 1;
  overflow: hidden;
  text-align: right;
}

.status-passed {
  border-right: 7px solid #afa;
}

.status-failed {
  border-right: 7px solid #ff989d;
}

.small-block {
  overflow: hidden;
  flex: 1;
}

.sub-blocks-holder {
  margin: 0.5em;
}

.big-block {
  margin: 0.2em;
  overflow: hidden;
  word-wrap: break-word;
  flex: 3;
}

.big-item {
  max-height: 15em;
  padding: 0px;
}

.sub-block {
  padding-bottom: 0.5em;
}

.filter {
  align-items: center;
  flex-wrap: wrap;
  display: inline-flex;
  flex-direction: row;
}

.status-color-passed {
  border-bottom: 7px solid #afa;
}

.status-color-failed {
  border-bottom: 7px solid #ff989d;
}

.status-block {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  cursor: pointer;
  height: 1em;
  margin: 0.3em 0.3em 0.3em 0.3em;
  padding-bottom: 0.5em;
  max-width: 10em;
  overflow: hidden;
}

.status-block:hover {
  background-color: #d9f0f1;
}
.result-set-discriber{
  flex: 1;
  display: flex;
  flex-direction: row;
}
.checkbox-item{
  padding-right: 0.3em;
}
.result-description {
  width: 100%;
  height: 8em;
  box-sizing: border-box;
}
a.link{
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  color: #e2e2e2;
  padding-right: 2em;
}
a.link:hover{
  color: white;
}
