@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$palladium-primary: mat-palette($mat-yellow, 50);
$palladium-primary-active: mat-palette($mat-yellow, 100);
$palladium-accent: mat-palette($mat-cyan, 800);

// The warn palette is optional (defaults to red).
$palladium-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$palladium-theme: mat-light-theme($palladium-primary, $palladium-accent, $palladium-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($palladium-theme);
//

html,
body {
  color: #333;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Open Sans, sans-serif;
}

a:hover {
  color: #5f9ea0;
}

a {
  color: #2e4b4c;
  text-decoration: none !important;
}

* {
  box-sizing: content-box;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}


figure {
  margin: 0;
}
input[type=checkbox] {
  transform: scale(1.2);
  margin: 2px 1px 0;
}

/* === flex update ====*/
.hidden {
  display: none;
}

.activated {
  background-color: #b2c4c5;
}

.activated:hover {
  background-color: #b2c4c5 !important;
}

.product-space, .plan-space, .run-space, .result-set-space, .result-space, .history-space, .case_space, .new-result-space {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.plan-item {
  margin: 1em;
  text-overflow: ellipsis;
  cursor: pointer;
  border: solid 2px transparent;
}

.item {
  padding: 0.5em 0.7em 0.5em 0.5em;
  margin: 0.5em;
  cursor: pointer;
  border: solid 2px transparent;
}

.selected {
  border: solid 2px mat-color($palladium-accent);
  //border-left: solid 3px mat-color($palladium-accent);
  transition: border-color 300ms ease-out;
}

.item-list {
  overflow: auto;
  flex: 1;
}

.result-set-space, .case_space {
  max-width: 60em;
  flex: 4;
}

.result-space, .history-space, .one-case_space {
  flex: 5;
}

.toolbar {
  display: flex;
  margin: 0.5em;
}

.filters {
  flex: 1;
}

.button{
  outline: 1px solid #848484;
  flex: 1;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  background-color: #e6e6e6;
}

.button-icon {
  text-align: center;
  font-size: 1.5em;
  flex: 1;
  cursor: pointer;
  user-select: none;
}

.search-input {
  padding: 0.35em;
  outline: 1px solid #848484;
  border: none;
  flex: 1;
}

.product-link {
  font-size: 1.7em;
}


.copy-button{
  display: none;
}
.copy-button:active {
 color: #5f9ea0;
}
.copy-button {
  color: #2e4b4c;
  cursor: pointer;
  display: inline;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.pointer {
  cursor: pointer;
}

.item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: auto;
  max-height: 4em;
  flex: 4;
  align-items: center;
}

.item-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-statistic {
  display: flex;
  min-height: 0.3em;
  padding-top: 0.2em;
  margin-bottom: 0;
}

.item-wrapper {
  max-height: 6em;
  max-width: 100%;
}

.bipolar-item {
  border-right: 7px solid rgba(255, 255, 255, 0);
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.centered-data, .full_centered_data {
  align-items: center;
}

.statistic-count {
  font-size: 0.7em;
}

.status, .status-small {
  flex-direction: row;
  display: flex;
  overflow: hidden;
}

.status-small{
  margin-right: 0.4em;
}

.status-name {
  user-select: none;
  overflow: hidden;
  margin: auto;
  padding-right: 0.5em;
  max-width: 5em;
  text-overflow: ellipsis;
}

.status-count {
  max-width: 4em;
  overflow: hidden;
  margin-right: 0.2em;
}

.small-block {
  overflow: hidden;
  flex: 1;
}

.sub-blocks-holder {
  margin: 0.5em;
}

.big-block {
  margin: 0.2em;
  overflow: hidden;
  word-wrap: break-word;
  flex: 3;
}

.big-item {
  max-height: 30em;
  padding: 0;
}

.filter {
  align-items: center;
  flex-wrap: wrap;
  display: inline-flex;
  flex-direction: row;
}

.status-color-passed {
  border-bottom: 7px solid #afa;
}

.status-color-failed {
  border-bottom: 7px solid #ff989d;
}

.status-block {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  cursor: pointer;
  height: 1em;
  margin: 0.3em 0.3em 0.3em 0.3em;
  padding-bottom: 0.5em;
  max-width: 10em;
  overflow: hidden;
}

.status-block:hover {
  background-color: #d9f0f1;
}

.result-set-discriber {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.checkbox-item, .delete-item {
  padding-right: 0.3em;
  cursor: pointer;
}


a.link {
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  color: #e2e2e2;
  padding-right: 2em;
}

a.link:hover {
  color: white;
}

.toolbar-element {
  outline: 1px solid #848484;
  text-align: center;
  font-size: 1.5em;
  flex: 1;
  cursor: pointer;
  user-select: none;
}

.toolbar-element:hover {
  background-color: #e6e6e6;
}

.danger:hover {
  background-color: #e66248;
}

.settings_content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 20em;
}

.settings {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.54);
}

.copy {
  display: none;
  position: absolute;
  top: 0;
  right: 1.5em;
  color: rgba(0, 0, 0, 0.54);
}

.copy:hover {
  color: rgba(0, 0, 0, 0.70);
}

.settings:hover {
  color: rgba(0, 0, 0, 0.70);
}


.item:hover .settings  {
  display: block;
}

.item:hover .copy {
  display: block;
}

.item-description {
  flex: 3;
}

.item-option, .item-option > input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}

.save_button {
  float: right;
}

.check_button {
  max-width: 2em;
}

.add_result_button, .search_button {
  max-width: 4em;
}

.disabled, .disabled:hover {
  cursor: not-allowed;
  background-color: #e0eeef !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #5f9ea0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.full_centered_data {
  justify-content: center;
}

.empty_list_message {
  color: #2e4b4c;
  font-size: 1.7em;
  text-align: center;
}
