html {
  height: 100%;
  width: 100%;
  min-width: 1600px;
}
body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
}
div {
  margin: 0;
  padding: 0;
}
.status{
  float: right
}
.small-column {
  width: 9em;
}
.big-column {
  width: 20em;
}
.very-big-column{
  width: 38em;
}
.setting {
  opacity: 1;
  display: none;
  height: 50px;
  width: 50px;
  position: absolute;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
  top:-30px;
  right:-30px;
  background: #A00;
  cursor: pointer;
  border: solid #a9a7aa 1px;
}
.setting-show {
  opacity: 1;
  display: block;
}
.setting-hide {
  opacity: 1;
  display: block;
}
