@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$palladium-primary: mat-palette($mat-yellow, 50);
$palladium-primary-active: mat-palette($mat-yellow, 100);
$palladium-accent: mat-palette($mat-cyan, 600);
$palladium-font-color-selected: '#38808e';

// The warn palette is optional (defaults to red).
$palladium-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$palladium-theme: mat-light-theme($palladium-primary, $palladium-accent, $palladium-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($palladium-theme);
//

html {
  color: #333;
  margin: 0;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Open Sans, sans-serif;
  background: #6DB3F2 url('assets/handmadepaper.png');
}

pre {
  margin: 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}


figure {
  margin: 0;
}

/* === flex update ====*/
.hidden {
  display: none;
}

.product-space, .plan-space, .run-space, .result-set-space, .result-space, .history-space, .case_space, .new-result-space {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.plan-item {
  margin: 0.5em;
  text-overflow: ellipsis;
  cursor: pointer;
  border: solid 1px transparent;
}

.item {
  padding: 0.5em 0.7em 0.5em 0.5em;
  margin: 0.5em;
  cursor: pointer;
  border: solid 1px transparent;
}

.selected {
  background-color: #f5f9ff;
  color: $palladium-font-color-selected;
  border: 1px solid #00acc1;
}

.item-list {
  overflow: auto;
  flex: 1;
}

.result-set-space, .case_space {
  max-width: 60em;
  flex: 4;
}

.result-space, .history-space, .one-case_space {
  flex: 5;
}

.result-item {
  padding: 0;
  border: solid transparent;
  border-width: 0 1px 0 1px;
}

.toolbar {
  display: flex;
  margin: 0.5em;
}

.item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: auto;
  max-height: 4em;
  flex: 4;
  align-items: center;
}

.status-elements-no-empty {
  display: flex;
  width: 100%;
}

.status-name {
  padding-top: 3px;
  user-select: none;
  overflow: hidden;
  margin: auto;
  max-width: 5em;
  text-overflow: ellipsis;
}

.small-block {
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  display: flex;
  margin-right: 0.5em;
}

.big-block {
  overflow: hidden;
  word-wrap: break-word;
  flex: 3;
}

.item:hover .settings  {
  display: block;
}

.item-option, .item-option > input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
}

.loader {
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

a.action-link {
  text-decoration: none;
}

a.action-link:hover {
  border-bottom: 1px solid;
}
