<modal #Modal>
  <modal-header>
    <h2>Product settings</h2>
  </modal-header>
  <modal-content>
    <div class="settings_content">
      <div class="item-description">
          <form autocomplete="off" [formGroup]="product_form" (ngSubmit)="edit_product()" (onClose) = "clear_errors()" >
            <div class="item-option">
              <input (keyup)="check_existing()" type="text" class="product-name" formControlName="name" autofocus>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small *ngIf="name.errors.required">
                  Product name can't be empty.
                </small>
                <small *ngIf="name.errors.incorrect">
                  This name is taken
                </small>
              </div>
            </div>
            <div class="item-option">
              <label *ngIf="item"> Created at: {{item.created_at}}</label>
            </div>
            <div class="item-option">
              <label *ngIf="item"> Updated at: {{item.updated_at}}</label>
            </div>
            <button class="btn btn-success save_button" type="submit"  [disabled]="!product_form.valid">Save</button>
          </form>
        <button class="btn btn-danger" [disabled]="item === null" (click)="delete_item()">Delete</button>
      </div>
    </div>
  </modal-content>
</modal>
