.status-component {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
}
.status-color{
  display: inline-block;
  width: 1em;
  height: 1em;
  background: rgb(170, 255, 170);
}
.status-name{
  display: inline-block;
  max-width: 12em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
