:host{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 14;
}

.plan-space {
  max-width: 70em;
  flex: 2;
}

.status-element {
  height: 0.3em;
}

.statistic{
  width: 100%;
}

.statistic-bar {
  outline: solid 1px #a4a4a4;
  display: flex;
  height: 0.3em;
  flex: 1;
  margin: auto 0.3em auto auto;
}

.plan-item:hover .settings {
  display: block;
}

.settings-menu {
  line-height: 1em;
  height: 1em;
  width: 1em;
}
