<div class="plan-space">
  <div class="item-list">
    <mat-card class="plan-item mat-elevation-z1"
              *ngFor="let plan of plans | sortByCreatedAt:'desc'"
              [ngClass]="{'mat-elevation-z12 selected': selected_plan.id == plan.id}"
              (click)="clicked($event, plan)">
      <span>{{plan.name}}</span>
      <div class="item-statistic">
        <ng-container *ngIf="plan.statistic && this.statuses">
          <div class="statistic-bar">
            <div *ngFor="let status of plan.statistic" class="status-element"
                 [ngStyle]="{ 'width': (status['count'] / plan.all_statistic['all'] * 100) + '%', 'background-color': get_status_by_id(status['status']).color}">
            </div>
          </div>
          <div>{{ force_floor(plan.all_statistic['attitude']) || 0 | percent}}</div>
        </ng-container>
      </div>
      <i class="fa fa-cogs settings" aria-hidden="true"></i>
    </mat-card>
  </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>
