<div class="plan-space">
  <div class="item-list" [hidden]="loading">
    <mat-card class="plan-item mat-elevation-z1"
              *ngFor="let plan of _plans | sortByCreatedAt:'desc'"
              [ngClass]="{'mat-elevation-z5 selected': selectedPlan.id == plan.id}"
              (click)="clicked($event, plan)">
      <div class="plan-name">
        <div class="name">{{plan.name}}</div>
        <div class="settings-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="plan_for_settings = plan">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
      <div class="item-statistic">
        <div class="statistic-bar">
          <div *ngFor="let status of plan.statistic.existed_statuses" class="status-element"
               [ngStyle]="{ 'width': (plan.statistic.extended[status] / plan.statistic.all * 100) + '%',
                  'background-color': this.palladiumApiService.statuses[status].color}">
          </div>
        </div>
        <div>{{ plan.statistic.attitude || 0 | percent}}</div>
      </div>
    </mat-card>
    <div class="show-more">
      <button mat-button class="show-more-button" (click)="load_more_plans()">Show more</button>
    </div>
  </div>
  <div [hidden]="!loading" class="loader">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="open_settings()">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
</mat-menu>
<router-outlet (activate)="onActivate($event)"></router-outlet>
