:host {
  display: flex;
}
.statistic-bar {
  height: 0.3em;
  flex: 1;
  margin: auto 0.3em auto auto;
  display: flex;
}

@keyframes loading {
  from {
    opacity: 100%;
  }
  50% {
    opacity: 0;

  }
  to {
    opacity: 100%;
  }
}

.status-element-loading {
  opacity: 100%;
  width: 100%;
  background-color: #00acc1;
  animation: loading 2s ease-in infinite;
}
