<ng-container *ngIf="(statistic$ | async) as statistic">
  <div class="statistic-bar">
    <div class="status-elements-no-empty" [ngStyle]="{ 'width': ((statistic.all / (caseCount$ | async)) * 100) + '%'}">
      <div *ngFor="let point of statistic.points" class="status-element"
           [ngStyle]="{ 'width': (point.attitude * 100) + '%',
                  'background-color': (statuses | async)[point.status].color}">
      </div>
    </div>
  </div>
  <div>{{statistic.all / (caseCount$ | async) || 0 | percent}}</div>

</ng-container>

